<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title translate>Register Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="productForm">
        <mat-form-field class="example-full-width">
          <mat-label translate>Name</mat-label>
          <input formControlName="name" matInput #message maxlength="90" placeholder="Colheitadeira ..." />
          <mat-hint align="start"><strong translate>Ex: Tractor, harvester, sprayer ...</strong> </mat-hint>
          <mat-hint align="end">{{ message.value.length }} / 90</mat-hint>
        </mat-form-field>
      </form>

      <br />
      <button mat-raised-button color="primary" (click)="submit()"><span translate>Submit</span></button>
    </mat-card-content>
    <mat-card-footer>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    </mat-card-footer>
  </mat-card>
</div>
