<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title translate>Register User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="userForm">
        <td>
          <mat-form-field class="example-full-width">
            <mat-label translate>Full name</mat-label>
            <input formControlName="full_name" matInput #message maxlength="90" placeholder="Ex: Anakin Skywlaker" />
            <mat-hint align="end">{{ message.value.length }} / 90</mat-hint>
          </mat-form-field>
        </td>

        <table>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  formControlName="email"
                  [errorStateMatcher]="matcher"
                  placeholder="Ex. anakin.skywalker@volmaq.com.br"
                />
                <mat-error *ngIf="userForm.hasError('email') && !userForm.hasError('required')">
                  {{ 'Please enter a valid email address' | translate }}
                </mat-error>
                <mat-error *ngIf="userForm.hasError('required')"> Email is <strong>required</strong> </mat-error>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field>
                <input
                  matInput
                  placeholder="{{ 'Password' | translate }}"
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                  required
                />
                <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }} </mat-icon>
                <mat-hint *ngIf="!userForm.controls['password'].value">{{ 'Enter an password' | translate }}</mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <strong>{{ 'Select a role' | translate }}</strong>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'Select a option' | translate }}</mat-label>
                <mat-select formControlName="role">
                  <mat-option *ngFor="let role of roles" [value]="role">{{ role.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <strong>{{ 'Select a department' | translate }}</strong>
              <mat-form-field appearance="fill">
                <mat-label>{{ 'Select a department' | translate }}</mat-label>
                <mat-select formControlName="department">
                  <mat-option *ngFor="let department of departments" [value]="department">{{
                    department.name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>

      <br />
      <button mat-raised-button color="primary" (click)="submit()">{{ 'Submit' | translate }}</button>
    </mat-card-content>
    <mat-card-footer>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    </mat-card-footer>
  </mat-card>
</div>
