<div class="header">
  <h1 mat-dialog-title>{{ data.title }}</h1>
</div>
<div mat-dialog-content>
  <ul class="list-group" *ngFor="let row of data.list">
    <li class="list-group-item">
      <strong>{{ 'User' | translate }}</strong> {{ row?.user?.full_name }}
    </li>
    <li class="list-group-item">
      <strong>{{ 'Date' | translate }}</strong> {{ formatDate(row?.modifiedIn) }}
    </li>
    <li class="list-group-item">
      <strong>{{ 'Message' | translate }}</strong> {{ row?.message | translate }}
    </li>
    <br />
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="confirm()">{{ 'Exit' | translate }}</button>
</div>
